@use '@angular/material' as mat;

button {
    width: 247px;
    height: 48px;
    background-color: var(--mat-mdc-primary); // Agora funciona!
    color: white;
    border-radius: 12px;
    font-size: 1.6rem;
}