.servicos {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;


    h1 {
        text-align: center;
        margin-top: 50px;
        font-size: 5rem;
        width: 80%;
    }

    h3 {
        text-align: center;
        margin-top: 50px;
        font-size: 2rem;
        font-weight: normal;
    }

}

@media(max-width: 768px) {
    .servicos {
        margin-top: 60px;

        h1 {
            font-size: 3rem;
        }
    }
}