<section id="servicos" class="servicos">
    <h1>Nossos Serviços</h1>
    <h3>Da concepção à implementação, oferecemos um time completo de especialistas em experiência do usuário,
        infraestrutura e desenvolvimento.</h3>

    <mat-tab-group class="custom-tabs">
        <mat-tab label="Desenvolvimento">
            <h2>Desenvolvimento de software</h2>
            <p>Transforme sua visão em realidade com soluções de software personalizadas para sua empresa.</p>

            <p>Da concepção à implementação, oferecemos um time completo de especialistas em experiência do usuário,
                infraestrutura e desenvolvimento.</p>
        </mat-tab>
        <mat-tab label="Consultoria">
            <h2>Avaliação e plano de ação</h2>
            <p>Utilize nossa experiência para solucionar os desafios tecnológicos mais complexos do seu negócio.</p>

            <p>Avaliamos sua empresa e estabelecemos um plano de ação claro identificando as oportunidades de automação
                de processos, otimização de custos, expansão comercial e diversos outros impactos da adoção de
                tecnologias em sua operação.
            </p>
        </mat-tab>
        <mat-tab label="Suporte">
            <h2>Suporte e melhorias</h2>
            <p>Não somos apenas prestadores de serviços, somos sua parceria estratégica em TI.</p>

            <p>Visando construir relacionamentos de longo prazo, disponibilizamos nosso time de especialistas para
                dar
                suporte e atuar em melhorias para que sua empresa possa manter o foco no que realmente importa.</p>
        </mat-tab>
    </mat-tab-group>

</section>