<mat-tab-group class="custom-tabs">
    <mat-tab label="Criação e Desenvolvimento">
        <h2> Criação e Desenvolvimento</h2>
        <p>Transforme sua ideia em uma solução digital poderosa.</p>

        <p>Desenvolvimento de sistemas, sites e aplicações robustas, utilizando as melhores tecnologias do mercado.
        </p>
    </mat-tab>
    <mat-tab label="Consultoria Estratégica">
        <h2>Consultoria Estratégica</h2>
        <p>Precisa de um plano claro para seu projeto?</p>

        <p>Eu avalio seu cenário e traço um caminho estratégico para otimizar custos, automatizar processos e
            escalar sua operação
        </p>
    </mat-tab>
    <mat-tab label="Suporte e Manutenção">
        <h2>Suporte e Manutenção</h2>
        <p>Não somos apenas prestadores de serviços, somos sua parceria estratégica em TI.</p>

        <p>Visando construir relacionamentos de longo prazo, disponibilizamos nosso time de especialistas para
            dar
            suporte e atuar em melhorias para que sua empresa possa manter o foco no que realmente importa.</p>
    </mat-tab>
</mat-tab-group>