<mat-tab-group class="custom-tabs">
    <mat-tab label="Criação e Desenvolvimento">
        <h2> Criação e Desenvolvimento</h2>
        <p>Transforme sua ideia em uma solução digital poderosa.</p>

        <p>Desenvolvimento de sistemas, sites e aplicações robustas, utilizando as melhores tecnologias do mercado.
        </p>
    </mat-tab>
    <mat-tab label="Serviços de Automação">
        <h2>Aumente a eficiência do seu negócio com automação inteligente.</h2>
        <p>Chega de perder horas com tarefas manuais! </p>

        <p>Automatize seu processos para tornar seu dia a dia mais leve e eficiente.
        </p>
    </mat-tab>
    <mat-tab label="Suporte e Manutenção">
        <h2>Suporte e Manutenção</h2>
        <p>Seja para resolver um problema urgente ou manter tudo funcionando sem preocupações.</p>

        <p>Suporte contínuo para garantir que seu sistema esteja sempre seguro, rápido e atualizado, evitando
            dores de cabeça no futuro.</p>
    </mat-tab>
</mat-tab-group>