@use '@angular/material' as mat;



.custom-tabs {
    margin-top: 120px;
    @include mat.tabs-overrides((label-text-size: 1.5rem,
            inactive-label-text-color: var(--mat-sys-inverse-on-surface),
            // active-label-text-color: var(--mat-sys-tertiary),
            active-focus-label-text-color: var(--mat-sys-on-tertiary),
        ));


    h2 {
        text-align: left;
        font-size: 4rem;
    }

    p {
        font-size: 2rem;
    }
}

@media(max-width: 768px) {
    .custom-tabs {
        h2 {
            font-size: 2rem;
        }

        ::ng-deep .mat-mdc-tab-labels {
            display: flex;
            flex-direction: column;
            align-items: flex-start
        }
    }
}