 .hero-section {
     height: 66vh;
     display: flex;
     flex-flow: row;
     justify-content: space-between;
     margin-top: 188px;
     width: 100%;
 }

 .cta {
     margin-top: 50px;

     h1 {
         font-size: 5rem;
         font-weight: bold;
     }

     h3 {
         font-size: 2rem;
         font-weight: normal;
     }

     span {
         color: var(--mat-sys-primary);
     }
 }

 @media(max-width: 768px) {
     .hero-section {
         flex-flow: column;
         justify-content: center;
         align-items: center;
         margin-top: 44px;
         height: 75vh;

         >div {
             display: flex;
             flex-flow: column;
             justify-content: center;
             align-items: center
         }

         form-contato {
             margin-top: 40px;

         }

         .cta {
             max-width: 369px;

             h1 {
                 font-size: 2rem;
                 text-align: center;
             }

             h3 {
                 font-size: 1rem;
                 text-align: center;
             }
         }
     }

 }