<form action="" class="contato">
    <h3>"Me conte sobre seu projeto e receba um orçamento personalizado.</h3>
    <div class="title">
        <label for="name">Nome / Empresa</label>
        <input type="text" placeholder="Nome" id="name" name="name">
    </div>

    <div class="title">
        <label for="email">E-mail</label>
        <input type="email" placeholder="Email" id="email" name="email">
    </div>

    <div class="title">
        <label for="tel">Telefone</label>
        <input type="tel" placeholder="Telefone" id="tel" name="tel">
    </div>

    <div class="title"> 
        <label for="message">Mensagem</label>
        <textarea name="" id="" cols="30" rows="10" placeholder="Mensagem" id="message" name="message"></textarea>
    </div>

    <button>Enviar</button>
</form>