<form action="" class="contato">
    <h3>"Me conte sobre seu projeto e receba um orçamento personalizado.</h3>
    <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" (blur)="updateErrorMessage()" required />
        @if (email.invalid) {
        <mat-error>{{errorMessage()}}</mat-error>
        }
    </mat-form-field>


    <mat-form-field>
        <mat-label>Textarea</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>

    <button>Enviar</button>
</form>