.contato {
    display: flex;
    flex-flow: column;
    margin-left: 50px;

    h3 {
        font-size: 1.5rem;
        font-weight: normal;
    }

    .title {
        display: flex;
        flex-flow: column wrap;

    }

    label {
        font-size: 1.5rem;
        color: #D9D9D9;
    }

    input,
    button {
        width: 600px;
        height: 40px;
        border-radius: 8px;
    }

    textarea {
        width: 600px;
        border-radius: 8px;
    }

    .form-contatct-button-submit {
        background-color: light-dark(#ffd7f5, #ffd7f5);
        color: var(--mat-sys-primary);
        font-size: 2rem;
        font-weight: bold;
    }

    .form-contatct-button-submit:hover {
        background: light-dark(#ffabf3, #ffabf3);
    }

}