.contato {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 496px;
    margin-left: 50px;
    h3{
        font-size: 1.5rem;
        font-weight: normal;
    }
    input {
        background-color: white;
    }

    .title {
        display: flex;
        flex-flow: column wrap;

    }

    label {
        font-size: 1.5rem;
        color: #D9D9D9;
    }

    input,
    button {
        width: 600px;
        height: 40px;
        border-radius: 8px;
    }

    textarea {
        width: 600px;
        border-radius: 8px;
        background-color: white;
    }

    button {
        // background-color: #00A9D4;
    }


}