<section id="sobre" class="sobre">
    <div>
        <h1><span>" </span>Criar soluções digitais é mais do que programar – é entender desafios e transformar ideias em
            tecnologia funcional e escalável. Meu compromisso vai além de desenvolver software: entrego soluções
            pensadas para crescer junto com o seu projeto, garantindo segurança, alto desempenho e uma experiência
            impecável.<span> "</span></h1>
        <div>
            <div>
                <span>Tecnologia</span>
                <span>que Acompanha seu crescimento</span>
            </div>
            <div class="sobre-container-reference">
                <span>Segurança</span>
                <span>e Confiabilidade em Primeiro Lugar</span>
            </div>
            <div>
                <span>Alto Desempenho</span>
                <span>e Experiência Impecável</span>
            </div>
            <div>
                <span>Compromisso</span>
                <span>com Qualidade e Transparência</span>
            </div>
        </div>
    </div>
    <div>
        <h2>"Cada projeto exige a ferramenta certa. Trabalho com tecnologias líderes do mercado para garantir soluções
            eficientes e inovadoras.</h2>
    </div>
    <div>
        <img src="csharp.png" alt="">
        <img src="angular.png" alt="">
        <img src="aws.png" alt="">
        <img src="azure.png" alt="">
        <img src="docker.png" alt="">
    </div>
</section>